{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
           <h1 class="login-heading mb-4 my-auto"> Plans: </h1>
        </div>
    </div>
    </br>
    <table class="row">
        <table class="table">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            {% for plan in plans %}
            <tr>
                <td> {{plan.name}}</td>
                <td> {{plan.start_date}}</td>
                <td> {{plan.end_date}}</td>
                <td>
                    <a href="{% url 'plan' planner_id plan.plan_id %}">
                    <button class="btn btn-lg btn-outline-secondary btn-login btn-block text-uppercase font-weight-bold mb-2"> Details </button>
                    </a>
                </td>
                <td>
                    <button data-toggle="modal" data-target="#deleteModal" class="btn btn-lg btn-outline-danger btn-login btn-block text-uppercase font-weight-bold mb-2"> Delete </button>
                </td>

                <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete plan!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to delete this plan?</p>
                                <small>It was such a lovely plan...</small>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Wait, no</button>
                                <form method="post" action="{% url 'plan_delete' planner_id plan.plan_id %}">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Yes, do it, now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </tr>
            {% endfor %}
            </div>
        </table>
    </div>
    </br>
    <div class="ml-3 mt-2">
        <a class="btn btn-primary" href="{% url 'home' %}"> Back </a>
    </div>
</div>
{% endblock content %}